<h3>Welcome to Bear Territory!</h3>


<ul>

<% @bears.each do |bear| %>
  <li><%= bear.name %>
      <%= link_to "Edit bear", bear_path(bear) %>
      <%= link_to "Delete this bear", bear_path(bear), method: :delete %>
  </li>
<% end %>

</ul>
